<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
		 version="2.4">

	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>org.andgomes.web.MyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>FilterThree</filter-name>
		<filter-class>org.andgomes.web.FilterThree</filter-class>
	</filter>

	<filter>
		<filter-name>FilterOne</filter-name>
		<filter-class>org.andgomes.web.FilterOne</filter-class>
	</filter>
	
	<filter>
		<filter-name>FilterTwo</filter-name>
		<filter-class>org.andgomes.web.FilterTwo</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>FilterThree</filter-name>
		<servlet-name>MyServlet</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>FilterOne</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>FilterTwo</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>
